html * {
  font-family: arial, sans-serif;
  font-weight: 300;
  color: #009;
}
.container {
    width: 80%;
    height: auto;
    margin: 0 auto;
    border: 1px dashed #ccc;
    padding: 10px;
}
#logo {
  text-decoration: none;
  color: #e98300;
}

nav {
  position: relative;
  height: 30px;
  background: #009;
}

nav ul{
  list-style: none;
}
nav ul li a{
  text-decoration: none;
  float: left;
  margin-right: 1em;
  color: #ffffff;
  line-height: 30px;
}

section#mainContent {
  margin-top: 1em;
  clear: both;
}

footer {
  background: #009;
  height: 1.5em;
  width: 100%;
  padding: 1em 0;
}

footer a {
  color: #ffffff;
  display: block;
  width: 5em;
  margin: 0 auto;
}

.incomeResult {
    font-size: 1.5em;
    margin-bottom: 0;
}

fieldset {
    border: none;
}

img {
    display: block;
}

/*Responsive stuff*/
.angular_logo {
    background-image: url('../../assets/angular-small.png');
    width: 160px;
    height: 160px;
    border: none;
}
.resizeResponsive h4, .resizeResponsive p{
    font-size: 5em;
}


@media only screen and (min-width: 700px) {
    .angular_logo {
        background-image: url('../../assets/angular-big.svg');
        width: 512px;
        height: 139px;
    }
    .resizeResponsive h4, .resizeResponsive p {
        font-size: 1em;
    }
}
