html * {
  font-family: arial, sans-serif;
  font-weight: 300;
  color: #009;
}

header {
    padding: 0;
}

.container {
    width: 80%;
    height: auto;
    margin: 0 auto;
    border: 1px dashed #ccc;
    padding: 10px;
}

nav {
  position: relative;
  height: 30px;
  background: #009;
}

nav ul{
  list-style: none;
    padding: 0;
}
nav ul li a {
  text-decoration: none;
  padding: 0 6px;
  pointer: cursor;
  float: left;
  margin-right: 1em;
  color: #ffffff;
  line-height: 30px;
  font-size: 13px;
}

nav ul li a:hover {
    background-color: blue;
}

footer {
  background: #009;
  height: 1.5em;
  width: 100%;
  padding: 1em 0;
}

footer a {
  color: #ffffff;
  display: block;
  width: 5em;
  margin: 0 auto;
}

fieldset {
    border: none;
}

/*Responsive stuff*/
.rabobank-logo {
    background-image: url('img/rabobank-logo-mobile.png');
    background-repeat: no-repeat;
    width: 96px;
    height: 33px;
    border: none;
}

h2 {
    font-size: 25px;
}

.page-title {
    margin-left: 20px;
}


@media only screen and (min-width: 700px) {
    .rabobank-logo {
        background-image: url('img/rabobank-logo.png');
        background-repeat: no-repeat;
        display: inline-block;
        width: 124px;
        height: 148px;
    }

    header h1 {
        display: inline-block;
        margin-left: 40px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

