<h2>Bereken uw maximale hypotheek</h2>
<form>
    <fieldset class="input">
        <h3>Uw bruto jaarinkomen ?</h3>

        <md-slider class="md-warn"
                   aria-label="income"
                   ng-model="vm.income"
                   ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
                   step="1000"
                   id="incomeRange"
                   name="income"
                   min="0"
                   max="100000">
        </md-slider>

        <p>€ <span id="incomeDisplay">{{vm.income}}</span></p>

        <h3>Wat is het bruto jaarinkomen van uw partner?</h3>
        <md-slider class="md-warn"
                   aria-label="incomePartner"
                   ng-model="vm.incomePartner"
                   ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
                   step="1000"
                   id="incomePartnerRange"
                   name="incomePartner"
                   min="0"
                   max="100000">
        </md-slider>

        <p>€ <span id="incomePartnerDisplay">{{vm.incomePartner}}</span></p>
    </fieldset>
    <fieldset class="result">
        <div>U kunt maximaal lenen:</div>
        <h3 class="incomeResult">€ <span id="incomeResultAmount">{{vm.incomeResultAmount}}</span></h3>
        <small>Op basis van 2% 10 jaar vaste rente</small>
    </fieldset>
</form>
