<h2>Wat is mijn maximale hypotheek?</h2>
<form>
    <fieldset class="input">
        <h3>Wat is uw bruto jaarinkomen ?</h3>
        <input type="range" oninput="displayIncome()" step="1000" value="25000" id="incomeRange" name="income" min="0" max="100000">
        <p>€ <span id="incomeDisplay">25000</span></p>


        <h3>Wat is het bruto jaarinkomen van uw partner?</h3>
        <input type="range" oninput="displayPartnerIncome()" step="1000" value="0" id="incomePartnerRange" name="incomePartner" min="0" max="100000">
        <p>€ <span id="incomePartnerDisplay">0</span></p>
    </fieldset>
    <fieldset class="result">
        <h3 class="incomeResult">€ <span id="incomeResultAmount">87.300</span></h3>
        <small>Op basis van 2% 10 jaar vaste rente</small>
    </fieldset>
</form>